body {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.split-flip-board {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(51, 58, 65);
  font-size: 56px;  
  width: calc(((1em + 9px) * 10) + 10px);
  filter: drop-shadow(0 0 5px black);
  margin: 10px auto;

  .split-flip-row {
    display: flex;
    flex-direction: row;
  }
}