$cardHeight: 50px;
$fontSize: 80px;
$animationDuration: 50ms;
$flippingBG: rgb(7, 9, 10);

* {
  box-sizing: border-box;
}

.split-flip {
  font-family: monospace;
  background-color: black;
  color: white;
  width: 75px;
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;

  .top, .bottom {
    height: $cardHeight;
    font-size: $fontSize;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(58, 67, 77);
    margin-bottom: 2px;

    .old {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: rgb(58, 67, 77);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding-top: 5px;
      transform-origin: bottom;
    }
    .new {
      position: relative;
      z-index: 0;
      height: 100%;
      padding-top: 4px;
    }
  }

  .bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(58, 67, 77);

    .old {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 0;
      line-height: 0px;
    }
    .new {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: rgb(58, 67, 77);
      z-index: 1;
      line-height: 0;
      
      transform-origin: top;
      transform: rotateX(-90deg);
    }
  }

  hr {
    height: 2%;
    margin: 0;
    padding: 0;
  }
}

.flipDown {
  animation: flipDown $animationDuration;
  animation-timing-function: linear;
}

.flipDownBottom {
  animation: flipDownBottom $animationDuration;
  animation-timing-function: linear;
}

// Animations
@keyframes flipDown {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
    background-color: $flippingBG;
  }
}

@keyframes flipDownBottom {
  from {
    transform: rotateX(-90deg);
    background-color: $flippingBG;
  }
  to {
    transform: rotateX(0deg);
  }
}